.contecticon{
    color: aliceblue;
    font-size: xx-large;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 600;
    margin-top: 25px;
  }
  
  .copyright i {
    color: #198754;
  }
  .cIcon{
    color: #198754;
    
  }
  .cIcon:hover{
    color: #194187;
    font-size: 120%;
    
  }